body {
	margin: 0px;
	padding: 0px;
	font-size: 15pt;
	background-color: #41436A;
	font-family: roboto;
}

nav {
	width: 100%;
	height: 60px;
	background-color: #FE9577;
	box-shadow: 1px 1px 3px black;
	display: flex;
	align-items: center;
}

.img-div {
	height: 100%;
	width: 15%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.txt-div {
	height: 100%;
	width: 85%;
	text-align: center;
}

.logo-txt {
	margin-right: 20px;
	font-weight: 500;
	font-size: 20px;
}

.cont {
	display: flex;
	justify-content: center;
	;
	align-items: center;
	margin: auto;
	padding: 0px;
	margin-top: 70px;
	background-color: white;
	width: 85%;
	border-radius: 5px;

}

.container {
	height: 85%;
	width: 85%;
	margin: 0px;
	padding: 0px;
	width: 85%;
	border-radius: 5px;

}

.enter {
	font-size: 17px;
	font-weight: 500;
}

button {
	margin-top: 10px;
	margin-bottom: 10px;
	border: none;
	background: none;
	border-radius: 4px;
	border: 1px solid black;
	height: 30px;
	width: 50%;
	background-color: #1E88E5;

}

input {
	height: 25px;
	width: 90%;
	border-radius: 4px;

}

.qr{
	margin-top: 15px;
	border-radius : 5px;
}